<html>
<script src="/static/js/lib/jquery-2.0.3.min.js"></script>
<script src="/static/js/lib/cytoscape.min.js"></script>
<script src="/static/js/lib/highcharts.js"></script>
<script src="/static/js/lib/jquery.leanModal.min.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/graph.js"></script>
<script src="/static/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/leanModal.css">
<style>
    body { 
      font: 14px helvetica neue, helvetica, arial, sans-serif;
    }
    #graph {
      margin-top: 50px;
      height: 450px;
      width: 100%;
      left: 0;
      top: 0;
    }
    a.top-word{
      margin-right: 5px;
    }

</style>

<div class="modal-dialog" id="chart">
  <div id="chart_container"></div>
</div>

<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Word2Vec
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-right navbar-form">
          <div class="input-group">
            <input class="form-control" type="text" id="word"></input>
            <span class="input-group-btn">
              <button id="submit" class="btn btn-default">search</button>
            </span>
          </div>
          
        </div>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:60px">
    <div id="top_word"> hot words: 
    </div>
    <div> 
      <a target="_blank" href="/past_hotword"> Recently Hot words </a>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div id="graph">
        </div>
      </div>
      <div id="baike_container" class="col-md-4" style="display:none">
        <h3 >
          <span id="baike_name"> </span>
          <span >
              <a rel="leanModal" href="#chart" style="font-size:14px"> 最新热度趋势 </a>
          </span>
        </h3>
        <div id="baike">
        </div>
      </div>
  </div>
</body>

</html>
