<html>
<script src="/static/js/base.js"></script>
<script src="/static/js/jquery-2.0.3.min.js"></script>
<script src="/static/js/build/cytoscape.min.js"></script>
<script src="/static/js/graph.js"></script>
<style>
    body { 
      font: 14px helvetica neue, helvetica, arial, sans-serif;
    }
    #graph {
      margin-top: 50px;
      height: 450px;
      width: 100%;
      left: 0;
      top: 0;
    }
</style>
<body>
<div style="text-align:center"> 
<input type="text" id="word"></input>
<button id="submit">submit</button>
</div>

<div id="graph"></div>
</body>
</html>
