<html>
<script src="/static/js/lib/jquery-2.0.3.min.js"></script>
<script src="/static/js/lib/cytoscape.min.js"></script>
<script src="/static/js/lib/highcharts.js"></script>
<script src="/static/js/lib/jquery.leanModal.min.js"></script>
<script src="/static/js/lib/jquery.sidemenu.js"></script>
<script src="/static/js/lib/onepage-scroll.min.js"></script>

<script src="/static/js/base.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript" src="/static/js/past_hotword.js"></script>

<link rel="stylesheet" href="/static/css/jquery.sidemenu.css">
<link rel="stylesheet" href="/static/css/onepage-scroll.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/leanModal.css">

<div class="modal-dialog" id="chart">
  <div id="chart_container"></div>
</div>

<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Word2Vec
        </a>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:60px">
    <div class="main" style="margin-top:50px">
    </div>
  </div>

  <script language="javascript" >
  </script>
</body>

</html>
